h1 {
  text-align: center;
  color: rgb(18, 92, 10);
  font-size: 50px;
}
.main {
  background-image: url("https://th.bing.com/th?id=OIP.yaqB_umnEcuZD-KU5L442gHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2");
  background-repeat: no-repeat;
  background-size: 700px 550px;
  border: 1px solid black;
}
P {
  text-size-adjust: 100%;
  font-size: 30px;
}
botton {
  text-align: center;
  color: sienna;
  font-size: 30px;
}
